*{
    margin: 0;
    padding: 0;
}

.handlingStyle {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 15px;
}

.card{
    background-color: #ffda7f;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 390px;
    display: inline-block;
}

.cardTitle {
    text-align: center;
    margin-bottom: 5px;
}
.cardDes {
    text-align: justify;
    margin-bottom: 5px;
}